In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['22893_2011-ACIDENTES.csv']

In [2]:
import pandas as pd

ac = pd.read_csv("../input/22893_2011-ACIDENTES.csv")

In [5]:
ac.head()

  id_acidente  cadloga  cadlogb  alt_num    ...    mortos   dp  det  distrito
0  D011100001    33306      NaN      100    ...         0  01   HG         02
1  D011100002    11818      NaN      749    ...         0  01   CT         49
2  D011100003    33667      NaN        0    ...         0  01   CT         02
3  D011100004    33667      NaN        0    ...         0  01   CT         02
4  D011100005    10376      NaN        1    ...         0  01   CT         80

[5 rows x 32 columns]